<h1>Restaurants Index Page</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <%=link_to restaurant.name, restaurant_path(restaurant) %></label>
  </li>
  <% end %>

  <%= link_to 'Add New Restaurant', new_restaurant_path %></label><br>
